.MainLeftChoiceColor{
    width: 65%;
    background-color: red;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{ 
            margin-right: .5rem;
            .colorchart{
                width: 40px;
                height: 40px;
                border-radius: 100%;
            }
        }
    }
}
