@import "../../Styles/common.scss";

@keyframes rolling {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: -960px;
  }
  100% {
    margin-top: -1920px;
  }
}
.main-container {
  margin-top: 8em;
  max-width: 1600px;
  padding: 0 2.3em;
  width: 100%;
  .swipe-img {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
    vertical-align: top;
    height: 960px;
    overflow: hidden;
    color: white;
    ul {
      animation-name: rolling;
      animation-duration: 8s;
      animation-iteration-count: infinite;
    }
  }
}

.contents {
  background-color: white;
  padding-bottom: 10em;

  .concept {
    padding-top: 3em;
    strong {
      font-size: 13rem;
      font-weight: $blodweight;
      letter-spacing: -0.1em;
    }
    p {
      margin-top: 0.5em;
      font-size: 2rem;
      line-height: 2em;
      font-weight: $blodweight;
      margin-bottom: 1em;
      text-align: right;
    }
    .link-btn {
      font-size: $littleBigFontSize;
      font-weight: 600;
      text-align: right;
      img {
        transform: translateY(0.1em);
        margin-left: 0.5em;
      }
    }
    .link-btn:hover {
      cursor: pointer;
    }
  }

  .collection {
    margin-top: 12em;
    margin-bottom: 5em;
    strong {
      font-size: 8rem;
      font-weight: bold;
      line-height: 1.1em;
      letter-spacing: -0.03em;
    }

    ul {
      margin-top: 10em;
      display: flex;
      justify-content: space-between;
      li {
        .thumb {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          .scrollImg {
            width: 100%;
          }
        }
        .box {
          margin-top: -25em;
          text-align: center;
          .title {
            margin-top: 0.7em;
            font-size: 35px;
            font-weight: 600;
            margin-bottom: 1em;
            line-height: 1.4em;
          }
          .desc {
            font-size: $littleSmaller;
            font-weight: $thinweight;
            line-height: 1.4em;
            margin-bottom: 3em;
          }
          .link-btn {
            font-size: $littleBigFontSize;
            font-weight: 600;
            img {
              transform: translateY(0.1em);
              margin-left: 0.5em;
            }
          }
        }
      }
    }
  }
  .lakaSubImg {
    background-image: url(https://laka.co.kr/laka_skin/images/pc/img_main_thumb_03_01_0405.jpg);
    width: 100%;
    // height: 800px;
    position: sticky;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    top: 0;
  }
  .backgroundWhite {
    background-color: white;
    z-index: 1000;
    transform: translateZ(0);
    .cushionImg {
      background-color: white;
      width: 1200px;
      margin: 0 auto;
      img {
        width: 100%;
        margin-top: -40em;
      }
    }
    .cushionText {
      font-size: 2em;
      font-weight: $thinweight;
      line-height: 1.5em;
      margin-bottom: 8em;
      margin-top: -15em;
      strong {
        font-size: 2.5em;
        line-height: 1.3em;
        font-weight: $blodweight;
        letter-spacing: -0.05em;
      }
      p {
        margin-top: 1em;
        text-align: right;
      }
      .link-btn {
        margin-top: 1em;
        font-size: $littleBigFontSize;
        font-weight: 600;
        text-align: right;
        img {
          transform: translateY(0.1em);
          margin-left: 0.5em;
        }
      }
      .link-btn:hover {
        cursor: pointer;
      }
    }
    .collection {
      margin-top: 12em;
      margin-bottom: 5em;
      ul {
        margin-top: 10em;
        display: flex;
        justify-content: space-between;
        li {
          .thumb {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .scrollImg {
              width: 100%;
            }
          }
          .box {
            margin-top: -15em;
            text-align: center;
            .title {
              margin-top: 0.7em;
              font-size: 35px;
              font-weight: 600;
              margin-bottom: 1em;
              line-height: 1.4em;
            }
            .desc {
              font-size: $littleSmaller;
              font-weight: $thinweight;
              line-height: 1.4em;
              margin-bottom: 3em;
            }
            .link-btn {
              font-size: $littleBigFontSize;
              font-weight: 600;
              img {
                transform: translateY(0.1em);
                margin-left: 0.5em;
              }
            }
          }
        }
      }
    }
    .tabs {
      ul {
        display: flex;
        .activeBest {
          margin-right: 0.5em;
          color: black;
          font-size: $biggerFontSize;
          font-weight: $blodweight;
          -webkit-text-stroke: 1px #000;
        }
        .activeBest:nth-child(2) {
          margin-right: 0.5em;
          color: white;
          font-size: $biggerFontSize;
          font-weight: $blodweight;
          -webkit-text-stroke: 1px #000;
        }
        .activeNew {
          margin-right: 0.5em;
          color: white;
          font-size: $biggerFontSize;
          font-weight: $blodweight;
          -webkit-text-stroke: 1px #000;
        }
        .activeNew:nth-child(2) {
          margin-right: 0.5em;
          color: black;
          font-size: $biggerFontSize;
          font-weight: $blodweight;
          -webkit-text-stroke: 1px #000;
        }
      }
    }
  }
}

.none {
  opacity: 0;
}
.pop {
  transition: all 0.7s ease-in;
  transform: translateY(-100px);
}
.listwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1600px;
  margin-top: 1em;
}

.yes {
  font-size: $littleSmaller;
  font-weight: $blodweight;
  position: fixed;
  bottom: 50px;
  right: 30px;
  // transition: all 10s ease-in;
  z-index: 5;
}

.yet {
  display: none;
}
