@import "../../Styles/common.scss";

@keyframes rolling {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: -960px;
  }
  100% {
    margin-top: -1920px;
  }
}
.main-container {
  margin-top: 8em;
  max-width: 1600px;
  padding: 0 2.3em;
  width: 100%;

  .swipe-img {
    position: sticky;
    top: 0;
    z-index: -1;
    vertical-align: top;
    height: 960px;
    overflow: hidden;
    color: white;
    ul {
      animation-name: rolling;
      animation-duration: 8s;
      animation-iteration-count: infinite;
    }
  }
}

.contents {
  background-color: white;
  padding-bottom: 10em;

  .concept {
    strong {
      font-size: 14rem;
      font-weight: $blodweight;
    }
    p {
      font-size: $middleBigFontSize;
      line-height: 1.5em;
      font-weight: $blodweight;
      margin-bottom: 1em;
    }
  }
  .link-btn {
    span {
      margin-right: 0.5em;
      font-size: $defalutFontSize;
      font-weight: $blodweight;
    }
  }

  .collection {
    margin-bottom: 30em;
    strong {
      font-size: 7rem;
      font-weight: $blodweight;
    }

    ul {
      margin-top: 10em;
      display: flex;
      li {
        margin-right: 3em;
        .thumb {
          position: relative;
        }

        .box {
          position: absolute;
          bottom: -18em;
          left: 25%;
          z-index: 1;

          .title {
            font-size: $middleFontSize;
            font-weight: $middleweight;
            margin-bottom: 1em;
          }
        }
      }
    }
  }
  .tabs {
    ul {
      display: flex;
      .activeBest {
        margin-right: 0.5em;
        color: black;
        font-size: $biggerFontSize;
        font-weight: $blodweight;
        -webkit-text-stroke: 1px #000;
      }
      .activeBest:nth-child(2) {
        margin-right: 0.5em;
        color: white;
        font-size: $biggerFontSize;
        font-weight: $blodweight;
        -webkit-text-stroke: 1px #000;
      }

      .activeNew {
        margin-right: 0.5em;
        color: white;
        font-size: $biggerFontSize;
        font-weight: $blodweight;
        -webkit-text-stroke: 1px #000;
      }
      .activeNew:nth-child(2) {
        margin-right: 0.5em;
        color: black;
        font-size: $biggerFontSize;
        font-weight: $blodweight;
        -webkit-text-stroke: 1px #000;
      }
    }
  }
}

.none {
  opacity: 0;
}
.pop {
  transition: all 0.7s ease-in;
  transform: translateY(-100px);
}
.listwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1600px;
  margin-top: 1em;
}

.yes {
  font-size: $littleSmaller;
  font-weight: $blodweight;
  position: fixed;
  bottom: 50px;
  right: 30px;
  // transition: all 10s ease-in;
  z-index: 5;
}

.yet {
  display: none;
}
