@import "../../Styles/common.scss";

.ProductDetail{
    width: 100%;
    padding: 3em;
    main{
        display: flex;
        max-width: 1000px;
        .mainLeft{
            min-width: 360px;
            max-width: 360px;
            .mainLeftTitle{
                h1{
                    font-size: 2.25rem;
                    font-weight: $blodweight;
                    margin-bottom: .7em;
                }
                span{
                    font-size: $leastFontSize;
                    font-weight: $middleweight;
                    display: block;
                    margin-bottom: 1.2em;
                }
                .price{
                    font-size: $secondSmallestFontSize;
                    font-weight: $blodweight;
                }
            }
            .delivery{
                border-top: 1px solid black;
                padding-top: 1.2em;
                .deliveryDay{
                    margin-bottom: .2em;
                    .deliveryText{
                        font-size: 14px;
                        color: rgb(44, 44, 44);
                        margin-right: .8em;
                    }
                    .deliveryThinText{
                        font-size: 14px;
                        font-weight: $thinweight;
                    }
                }
            }
            .mainLeftsaveOption{
                margin-top: 1.5em;
                border-bottom: 1px solid black;
                display: flex;
                padding-bottom: 1.5em;
                .clickCircle{
                    background-color: #D8CDC5;
                    width: 115px;
                    height: 115px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;
                    .clickColor{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .plusColor{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            span{
                                margin-top: 1rem;
                                color: white;
                                display: block;
                            }
                            .plus{
                                font-size: 40px;
                                color: white;
                                margin-top: -.3rem;
                                font-weight: $thinweight;
                            }
                        }
                    }
                }
            }
            .mainLeftTotal{
                font-size: $littleSmaller;
            }
            .mainLeftPurchase{
                display: flex;
                .basket{
                    width: 20%;
                    color: white;
                    font-size: $littleSmaller;
                    padding: 1.2rem;
                    background-color: black;
                    margin-right: .2rem;
                    text-align: center;
                }
                .purchase{
                    width: 100%;
                    color: white;
                    font-size: $littleSmaller;
                    padding: 1.2rem;
                    background-color: black;
                    text-align: center;
                }
            }
        }
        .mainCenter{
            img{
                width: 500px;
            }
        }
    }
}