@import "../../Styles/common.scss";

.nav_container {
  display: flex;
  justify-content: space-between;

  .nav {
    z-index: 2;
    .category {
      font-size: 50px;
      font-weight: $blodweight;
      cursor: pointer;
      margin-bottom: 0.3em;
      .icon {
        width: 40px;
        margin-left: 0.5em;
        transition: all 0.4s ease-in-out;
      }
    }
    .list {
      span {
        cursor: pointer;
      }

      .row {
        span {
          font-size: $middleFontSize;
          font-weight: $middleweight;
          margin-right: 1em;
          position: relative;
          .count {
            font-size: $leastFontSize;
            position: absolute;
          }
        }
        span:hover {
          color: white;
          -webkit-text-stroke: 1px #000;
        }
      }
    }
  }
}
.sort_container ul {
  display: flex;
  li {
    cursor: pointer;
    font-size: $littleSmaller;
    font-weight: $thinweight;
    margin-left: 1em;
  }
}

.nav_container > .nav:hover .list {
  display: block;
  opacity: 1;
  visibility: visible;
}
.nav_container > .nav:hover .icon {
  transform: rotate(180deg);
  transition: all 0.4s ease-in-out;
}

.nav_container > .nav > .list {
  opacity: 0;
  visibility: hidden;
}
