@import "../../Styles/common.scss";

.item {
  width: 100%;
  margin-bottom: 2em;
  margin-right: 2em;

  img {
    width: 100%;
  }
  .front:hover > .back {
    z-index: 1;
    opacity: 1;
  }

  .front {
    position: relative;
    img {
      background-color: #e4e4e4;
    }
  }

  .back {
    position: absolute;
    top: 0px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    .item-info {
      background-color: white;
      position: absolute;
      width: 100%;
      bottom: 0px;
      padding: 0.5em 0 0.2em 0;
      display: flex;
      justify-content: space-between;

      p {
        margin-top: 0.5em;
      }
      .title {
        font-size: $defalutFontSize;
        font-weight: $blodweight;
      }
      .price {
        font-size: $defalutFontSize;
        font-weight: $middleweight;
      }
      .color {
        width: 15px;
        display: flex;
        img {
          border-radius: 50%;
          margin-right: 0.5em;
          margin-top: 0.2em;
        }
      }
    }
  }
}
