.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .product-page {
    padding: 2.3em;
    margin-top: 6.25em;
    width: 100%;
    // min-width: 1600px;
    max-width: 1600px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .nav_container > .nav:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .nav_container > .nav > ul {
    opacity: 0;
    visibility: hidden;
  }
}
