@import '../../Styles/common.scss';

.SignIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .SignInBox{
        margin: 1600px 0em 10em;
        width: 37%;
        max-width: 600px;
       h1{
           font-size: $middleFontSize;
           font-weight: $blodweight;
       } 
       .SignInText{
            font-size: 22px;
            margin: 2rem 0rem 6.5rem 0rem;
            line-height: 1.6rem;
            font-weight: $middleweight;
       }
       table{
        width: 100%;
           tbody{
               tr{
                   th{
                       font-size: $secondSmallestFontSize;
                       text-align: left;
                       width: 20%;
                   }
                   td{
                       input{
                           width: 100%;
                           padding-bottom: 1rem;
                           border: 0;
                           border-bottom: 1px solid #ccc;
                           margin-bottom: 3rem;
                           //font-size수정
                       }
                   }
               }
           }

       }
       .SignInBtn{
            margin-top: 1.5em;
            width: 100%;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            span{
                color: white;
                font-weight: $blodweight;
                font-size: $littleSmaller;
            }
       }
       .SignInEtc{
           display: flex;
           justify-content: space-between;
           margin: 1.3rem 0rem;
           .searchAccount{
               font-size: $secondSmallestFontSize;
               .searchID{
                   margin-right: 1.3rem;
               }
           }
       }
       .LoginSignUp{
            font-size: $secondSmallestFontSize;
            font-weight: 600;
            text-decoration: underline; 
       }
       .LoginSignUp:hover{
            cursor: pointer;
        }
    }
}

