@import "../../Styles/common.scss";

.SignUp{
    width: 100%;
    padding: 10em;
    max-width: 1500px;
    margin: 0 auto;
    h1{
      font-size: $middleFontSize;
      font-weight: $blodweight;
      margin-bottom: 3em;
    }
    .SignUpAgree{
        .allAgreeCheckbox{
            margin-top: 2em;
            display: flex;
            .allAgree{
                font-size: $littleSmaller;
                font-weight: $blodweight;            }
        }
    }
    section{
        .termsOfService{
            .termsOfServiceTop{
                display: flex;
                justify-content: space-between;
                margin: 4.5rem 0rem 1.5rem;
                .termsOfServiceTitle{
                   .termsOfServiceText{
                    font-size: $secondSmallestFontSize;
                    font-weight: $blodweight;
                   }
                }
            }
            .termsOfServiceScrollBox{
                padding: 3em;
                font-size: 14px;
                width: 100%;
                background-color: #F7F7F7;
                height: 14.38rem;
                line-height: 1.3rem;
                overflow-y: scroll;
            }
        }
    }
    .certification{
        margin-top: 4rem;
        h3{
            font-size: $secondSmallestFontSize;
            font-weight: $blodweight;
            margin-bottom: 1.5rem;
        }
        .certificationText{
            font-size: .85rem;
        }
        .certificationBox{
            margin-top: 3rem;
            padding: 1.3rem;
            width: 30%;
            background-color: black;
            color: white;
            text-align: center;
            font-weight: $blodweight;
            font-size: $secondSmallestFontSize;
        }
    }
    .loginInfo{
        table{
            width: 100%;
            tbody{
                tr{
                    th{
                        text-align: left;
                        width: 15%;
                        font-size: 14px;
                        font-weight: $thinweight;
                    }
                    td{
                        input{
                            display: block;
                            width: 100%;
                            padding-bottom: 1rem;
                            border: 0;
                            border-bottom: 1px solid #ccc;
                            margin-top: 3rem;
                            .pwConform{
                                margin-bottom: 5em;
                            }
                        }
                        
                        .pwArticle{
                            font-size: 14px;
                            font-weight: $thinweight;
                            margin-top: 1.5em;
                            line-height: 1.2rem;
                        }
                    }
                }
                
            }
        }
    }
    .userInfo{
        table{
            width: 100%;
            tbody{
                tr{
                    th{
                        text-align: left;
                        width: 15%;
                        font-size: 14px;
                        font-weight: $thinweight;
                    }
                    td{
                        .userInfoInputBox{
                            margin-top: 3rem;
                            display: block;
                            width: 100%;
                            padding-bottom: 1rem;
                            border: 0;
                            border-bottom: 1px solid #ccc;
                            // margin-bottom: 3rem;
                        }
                        ul{
                            .addressList{
                                position: relative;
                                display: flex;
                                align-items: center;
                                div{
                                    position: absolute;
                                    padding: .5em;
                                    right: 0;
                                    bottom: 1em;
                                    border: 1px solid black;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .userInfoContact{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        select{
                            display: block;
                            width: 100%;
                            padding-bottom: 1rem;
                            border: 0;
                            margin-top: 3rem;
                            border-bottom: 1px solid #ccc;
                            // margin-bottom: 3rem;
                            font-size: $leastFontSize;
                            font-family: 'Montserrat';
                            font-weight: $middleweight;
                        }
                        .contactLine{
                            font-size: $defalutFontSize;
                            margin: 0em .5em;
                            margin-top: 3rem;
                        }
                    }
                    .genderBox{
                        ul{
                            display: flex;
                            font-size: .9rem;
                            color: #D1D1D1;
                            margin-bottom: 1.3em;
                            margin-top: 3em;
                            li:nth-child(1){
                                margin-right: 3em;
                            }
                        }
                        .signUpGender{
                            font-size: .9rem;
                            font-weight: $thinweight;
                        }
                    }
                }
            }
        }
        
    }
    .SignUpBtnContainer{
        display: flex;
        justify-content: center;
        .SignUpBtn{
            margin-top: 4.5rem;
            padding: 1.3rem;
            width: 30%;
            background-color: black;
            color: white;
            text-align: center;
            font-weight: $blodweight;
            font-size: $secondSmallestFontSize;
        }
    }
}

//공통적인 것
.borderBottem{
    margin-top: 6em;
    font-size: $defalutFontSize;
    font-weight: $blodweight;
    padding-bottom: 2rem;
    border-bottom: 2px solid black;
}

.termsOfServiceDot{
    font-size: $littleSmaller;
    font-weight: $blodweight;
    margin: 20px 0 0 4px;
    vertical-align: bottom;
    
}

input{
    font-size: $leastFontSize;
    font-family: 'Montserrat', 'NanumBarunGothic', sans-serif;
    font-weight: $middleweight;
}

.warningMessage{
    display: block;
    font-size: 14px;
    font-weight: $thinweight;
    color: red;
    margin-top: .4rem;
}

.checkbox-label{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .checkbox{
        margin-right: 1.2em;
        opacity: 0;
        //요소는 보이지 않지면 이벤트 리스너를 작동하기 위해 none보다 opaci
    }
    .checkbox-custom{
        margin-right: 1em;
        position: absolute;
        top: -3px;
        left: 0;
        width: 27px;
        height: 27px;
        border-radius: 100%;
        border: 2px solid black;
        cursor: pointer;
    }
    // .checkbox-custom::after{
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 27px;
    //     height: 27px;
    //     border-radius: 100%;
    //     background-color: black;
    //     border: 2px solid black;
    //     -webkit-transform: rotate(45deg) scale(1);
    //     -ms-transform: rotate(45deg) scale(1);
    //     transform: rotate(45deg) scale(1);
    // }
    [type=checkbox]:checked + span:before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        width: 27px;
        height: 27px;
        border-radius: 100%;
        color: white;
        background: black;
        text-align: center;
        display: inline-block;
        vertical-align: text-top;
    }
}


